body {
	
}

header{
	
}

/* Index styles */


#homebutton{
	float: left;
	width: 20%;
	text-align: center;
}
#homebutton.border{
	border-top: none;
	border-left: none;
	border-bottom: none;
}
#search{
	text-align: right;
}


#logo-bar{
	position: relative;
	width: 100%;
}


#foodpic{
	display: block;
}

#profil{
	position: absolute;
	left: 0;
}

#my-recipe{
	position: absolute;
	right: 0;
	top: 0;
}

.line {
	clear: both;
	display: inline-block;
	width: 980px;
	margin-left: 10px;
    margin-right: 10px;	
    margin-bottom: 40px;
}

.suggestion{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

/* Login styles */

#username{
	position: absolute;
	left: 100px;
}

#name-input {
	position: absolute;
	left: 200px;
}

#pw{
	position: absolute;
	left: 100px;
	top: 50px;
}

#forgot-pw{
	position: absolute;
	top:100px;
	left: 200px;
}

#pw-input{
	position: absolute;
	left: 200px;
	top: 50px;
}


#login-box{
	position: relative;
	width: 500px;
	height: 120px;
	margin-left: auto;
    margin-right: auto;
}

/* myrecipes styles */





/* often occuring styles */
.header {
	height: 100px;
	width: auto;
}

.left-nav {
	width: 20%;
	height: inherit;
	float: left;
	
}

.left-nav.border {
	border-top: none;
}

.content{
	width: 1000px;
	margin-left: auto;
    margin-right: auto;	
	background-color:#eee;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.border {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

p.center, h3.center{
	text-align: center;
}