body {
	
}

header{
	
}

#content{
	width: 1000px;
	margin-left: auto;
    margin-right: auto;	
	background-color:#eee;
}
#homebutton{
	float: left;
	width: 30%;
}
#search{
	text-align: right;
}


#logo-bar{
	position: relative;
	width: 100%;
}


#foodpic{
	display: block;
}

#profil{
	position: absolute;
	left: 0;
}

#my-recipe{
	position: absolute;
	right: 0;
	top: 0;
}

#suggestions{

}

.line {
	clear: both;
	display: inline-block;
	width: 980px;
	margin-left: 10px;
    margin-right: 10px;	
    margin-bottom: 40px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.border {
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.suggestion{
	border-style: solid;
	border-color: black;
	border-width: 1px;
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

